:root.theme-dark {
    --color-base-font: #a6a6a6;
    --color-base-font-rgb: 187,187,187;
    --color-base-background: #2a2a2a;
    --color-base-background-mobile: #2a2a2a;
    --color-url-font: #91a666;
    --color-url-visited-font: #c09cd9;
    --color-header-background: #1a1a1a;
    --color-header-border: #3a3a3a;
    --color-footer-background: #2a2a2a;
    --color-footer-border: #2a2a2a;
    --color-sidebar-border: #2a2a2a;
    --color-sidebar-font: #a6a6a6;
    --color-sidebar-background: #2a2a2a;
    --color-backtotop-font: #a6a6a6;
    --color-backtotop-border: #2a2a2a;
    --color-backtotop-background: #2a2a2a;
    --color-btn-background: #91a666;
    --color-btn-font: #222;
    --color-show-btn-background: #555;
    --color-show-btn-font: #a6a6a6;
    --color-search-border: #555;
    --color-search-shadow: 0 2px 8px rgba(34, 38, 46, 0.25);
    --color-search-background: #2a2a2a;
    --color-search-font: #fff;
    --color-search-background-hover: #91a666;
    --color-error: #f55b5b;
    --color-error-background: #390a0a;
    --color-warning: #f1d561;
    --color-warning-background: #39300a;
    --color-success: #79f56e;
    --color-success-background: #0e390a;
    --color-categories-item-selected-font: #91a666;
    --color-categories-item-border-selected: #91a666;
    --color-autocomplete-font: #fff;
    --color-autocomplete-border: #555;
    --color-autocomplete-shadow: 0 2px 8px rgba(34, 38, 46, 0.25);
    --color-autocomplete-background: #2a2a2a;
    --color-autocomplete-background-hover: #1e1e22;
    --color-answer-font: #bbb;
    --color-answer-background: #1a1a1a;
    --color-result-background: #1a1a1a;
    --color-result-border: #1a1a1a;
    --color-result-url-font: #fff;
    --color-result-vim-selected: #1f1f23cc;
    --color-result-vim-arrow: #90a666;
    --color-result-description-highlight-font: #fff;
    --color-result-link-font: #91a666;
    --color-result-link-font-highlight: #91a666;
    --color-result-link-visited-font: #c09cd9;
    --color-result-publishdate-font: #888;
    --color-result-engines-font: #a4a4a4;
    --color-result-search-url-border: #555;
    --color-result-search-url-font: #fff;
    --color-result-detail-font: #fff;
    --color-result-detail-label-font: lightgray;
    --color-result-detail-background: #1a1a1c;
    --color-result-detail-hr: #555;
    --color-result-detail-link: #91a666;
    --color-result-detail-loader-border: rgba(255, 255, 255, 0.2);
    --color-result-detail-loader-borderleft: rgba(0, 0, 0, 0);
    --color-result-image-span-font: #bbb;
    --color-result-image-span-font-selected: #222;
    --color-result-image-background: #222;
    --color-settings-tr-hover: #2c2c32;
    --color-settings-engine-description-font: #909090;
    --color-settings-table-group-background: #1b1b21;
    --color-toolkit-badge-font: #fff;
    --color-toolkit-badge-background: #555;
    --color-toolkit-kbd-font: #000;
    --color-toolkit-kbd-background: #fff;
    --color-toolkit-dialog-border: #555;
    --color-toolkit-dialog-background: #1e1e22;
    --color-toolkit-tabs-label-border: #222;
    --color-toolkit-tabs-section-border: #555;
    --color-toolkit-select-background: #313338;
    --color-toolkit-select-border: #555;
    --color-toolkit-select-background-hover: #373b49;
    --color-toolkit-input-text-font: #fff;
    --color-toolkit-checkbox-onoff-off-background: #313338;
    --color-toolkit-checkbox-onoff-on-background: #313338;
    --color-toolkit-checkbox-onoff-on-mark-background: #58f;
    --color-toolkit-checkbox-onoff-on-mark-color: #222;
    --color-toolkit-checkbox-onoff-off-mark-background: #ddd;
    --color-toolkit-checkbox-onoff-off-mark-color: #222;
    --color-toolkit-checkbox-label-background: #222;
    --color-toolkit-checkbox-label-border: #333;
    --color-toolkit-checkbox-input-border: #58f;
    --color-toolkit-engine-tooltip-border: #333;
    --color-toolkit-engine-tooltip-background: #222;
    --color-toolkit-loader-border: rgba(255, 255, 255, 0.2);
    --color-toolkit-loader-borderleft: rgba(0, 0, 0, 0);
    --color-doc-code: #ddd;
    --color-doc-code-background: #4d5a6f;
}
