* {
	font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	font-size: 16px;
	min-width: 0px;

}

window#waybar {
	background-color: #2a2a2a;
	color:#a6a6a6;

}

window > box {
	margin-top: 5px;
	margin-bottom: 5px;
    background: #2a2a2a;
    color: #a6a6a6;
}

button {
	border: none;
	border-radius: 0;

}

#workspaces button {
	padding: 0 0 6px 0;
	background-color: transparent;
	color: #a6a6a6;

}

#workspaces button.active {
	background-color: #91a666;
	color: #2a2a2a;
}

#workspaces button.urgent {
	background-color: #eb4d4b;
}

#clock,
#tray,
#workspaces {
	padding: 0 0;
	color: #a6a6a6;
	min-width: 0px;
}

#clock {
	padding: 6px 0 0 0;
	background-color: transparent;
	min-width: 32px;
	font-size: 16px;
}

#tray {
	background-color: #2a2a2a;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #eb4d4b;
}

#custom-launcher {

	padding: 6px 1px 2px 0;
}
